@model DienMayQT.Models.User

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="title" style="color:#d42121">Xóa tài khoản người dùng</h2>

<h3 style="color: #FF4500;text-align:center;">Bạn có muốn xóa người dùng này không ?</h3>
<div>
    <hr />
    <dl class="dl-horizontal" align="center">
        <dt>
           Tên tài khoản
        </dt>

        <dd>
            @Html.DisplayFor(model => model.username)
        </dd>

        <dt>
           Mật khẩu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

        <dt>
           Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
           Số điện thoại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>



    </dl>

    <div align="center">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Xóa" class="btn btn-default" style="font-size: 20px; margin-bottom: 20px; background-color: #f51212; color: white; margin-top: 12px; height: 48px; width: 110px;" />
                <button class="cancel-btn" onclick="location.href='@Url.Action("Index", "UserAdmin")'" style="margin-left:250px;margin-bottom:50px;margin-top:50px;">Hủy</button>
            </div>
        }
        
    </div>
</div>

