@model DienMayQT.Models.User

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="title" style="color:#FFD700">CẬP NHẬT SP</h2>


@using (Html.BeginForm("Edit", "UserAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" align="center">
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.fullname, "Tên người dùng", new { @class = "control-label col-md-4" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.fullname, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.fullname)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.username, "Tên tài khoản", new { @class = "control-label col-md-4" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.username, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.username)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.password, "Mật khẩu", new { @class = "control-label col-md-4" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.password, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.password)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UserTypeID, "Loại người dùng", new { @class = "control-label col-md-4" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.UserTypeID, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UserTypeID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.email, "Email", new { @class = "control-label col-md-4" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.email, new { type = "email", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.email)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.phone, "Số điện thoại", new { @class = "control-label col-md-4" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.phone, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.phone)
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" style="font-size: 20px; margin-bottom: 20px; height: 48px; width: 110px; background-color: #4CAF50; color: white" />
            </div>
        </div>
    </div>
}

<div align="right" style="margin-bottom:50px;margin-top:10px;margin-right:50px;">
    <button class="cancel-btn" onclick="location.href='@Url.Action("Index", "UserAdmin")'">Cancel</button>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
   
}



