@model DienMayQT.Models.CashBill
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="title" style="color:#d42121">Thêm hóa đơn tiền mặt</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal" align="center" style="float:left">

        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.CustomerName, "Tên khách hàng", new { @class = "control-label col-md-6" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.CustomerName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CustomerName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PhoneNumber, "Số điện thoại", new { @class = "control-label col-md-6" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PhoneNumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Address, "Địa chỉ", new { @class = "control-label col-md-6" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Address)
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Shipper, "Tên người giao", new { @class = "control-label col-md-6" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Shipper, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Shipper)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Note, "Ghi chú", new { @class = "control-label col-md-6" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Note, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Note)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" style="font-size: 20px; margin-bottom: 20px; height: 48px; width: 110px; background-color: #4CAF50; color: white" />
            </div>

        </div>    
    </div>
}

@if (Session["cashBill"] != null)
{

    @Html.Action("Create", "CashBillDetails")
    @Html.Action("Index", "CashBillDetails")

    <br /><br />
    using (Html.BeginForm("Create2", "CashBillAdmin"))
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lập hóa đơn" class="btn btn-primary" />
            </div>
        </div>
    }
}

<div align="right" style="margin-bottom:50px;margin-top:10px;margin-right:50px;">
    <button class="cancel-btn" onclick="location.href='@Url.Action("Index", "ProductAdmin")'">Cancel</button>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
    $('#ProductID').change(function () {
        var url = '@Url.Action("getSalePrice", "CashBillDetails")';
        url = url + '?Product_ID=' + $(this).val();
        $.get(url, function (data) {
            $('#SalePrice').val(data);
        });
    });

</script>


}
