@model DienMayQT.Models.Product

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="title" style="color:#4CAF50">Xóa sản phẩm</h2>

<h3 style="color: #FF4500;text-align:center;">Bạn có muốn xóa sản phẩm này không ?</h3>
<div>
    <hr />
    <dl class="dl-horizontal" align="center">
        <dt>Mã sản phẩm</dt>
        <dd>@Html.DisplayFor(model => model.ProductCode)</dd>

        <dt>Tên sản phẩm</dt>

        <dd>@Html.DisplayFor(model => model.ProductName)</dd>

        <dt>Giá bán</dt>

        <dd>@String.Format("{0:0,0}", Model.SalePrice) VNĐ</dd>

        <dt> Giá gốc </dt>

        <dd>@String.Format("{0:0,0}", Model.OriginPrice) VNĐ</dd>

        <dt>Giá trả góp</dt>

        <dd>@String.Format("{0:0,0}", Model.InstallmentPrice)</dd>

        <dt>Số lượng</dt>

        <dd>@Html.DisplayFor(model => model.Quantity)</dd>

        <dt>Hình ảnh</dt>

        <dd>@Html.DisplayFor(model => model.Avatar)</dd>

        <dt>Trạng thái</dt>

        <dd>@Html.DisplayFor(model => model.Status)</dd>

        <dt>Mã loại</dt>

        <dd>@Html.DisplayFor(model => model.ProductType.ProductTypeCode)</dd>

    </dl>

    <div align="center">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Xóa" class="btn btn-danger" style="font-size: 20px; margin-bottom: 20px; background-color: #f51212; color: white; margin-top: 12px; height: 48px; width: 110px;" />
                <button class="cancel-btn" onclick="location.href='@Url.Action("Index", "ProductAdmin")'" style="margin-left:250px;margin-bottom:50px;margin-top:50px;">Hủy</button>
            </div>
        }
        
    </div>
</div>
