@model DienMayQT.Models.slideAd

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="title"  style="color:#FFD700">Xóa hình quảng cáo</h2>

<h3 style="color: #FF4500;text-align:center;">Bạn có muốn xóa hình này không ?</h3>
<div>
    <hr />
    <dl class="dl-horizontal" align="center">
        <dt>
           Tên hình quảng cáo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nameAds)
        </dd>
        <dt>
           Nội dung
        </dt>

        <dd>
            @Html.DisplayFor(model => model.content)
        </dd>

        <dt>
            Trạng thái
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>
        <dt>
           Hình ảnh
        </dt>

        <dd>
            @Html.DisplayFor(model => model.image)
        </dd>

    </dl>

    <div align="center">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" style="font-size: 20px; margin-bottom: 20px; background-color: #f51212; color: white; margin-top: 12px; height: 48px; width: 110px;" />
                <button class="cancel-btn" onclick="location.href='@Url.Action("Index", "AdsAdmin")'" style="margin-left:250px;margin-bottom:50px;margin-top:50px;">Cancel</button>
            </div>
        }
       
    </div>
</div>
