@model DienMayQT.Models.Customer

@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<h2 class="title" style="color:#4CAF50">Thêm khách hàng</h2>
    
    @using (Html.BeginForm()) 
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal" align="center">
            @Html.ValidationSummary(true)
            <div class="form-group">
                @Html.LabelFor(model => model.CustomerName,"Tên khách hàng", htmlAttributes: new { @class = "control-label col-md-6" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CustomerName)
                    @Html.ValidationMessageFor(model => model.CustomerName)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CustomerCode,"Số CMND", htmlAttributes: new { @class = "control-label col-md-6" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CustomerCode,new { type = "number"})
                    @Html.ValidationMessageFor(model => model.CustomerCode)
                </div>
            </div>
    
            
    
            <div class="form-group">
                @Html.LabelFor(model => model.PhoneNumber,"Số điện thoại", htmlAttributes: new { @class = "control-label col-md-6" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PhoneNumber, new { type ="number"})
                    @Html.ValidationMessageFor(model => model.PhoneNumber)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Address,"Địa chỉ", htmlAttributes: new { @class = "control-label col-md-6" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Address)
                    @Html.ValidationMessageFor(model => model.Address)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.YearOfBirth,"Năm sinh", htmlAttributes: new { @class = "control-label col-md-6" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.YearOfBirth,new { type = "number"})
                    @Html.ValidationMessageFor(model => model.YearOfBirth)
                </div>
            </div>
    
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Thêm" class="btn btn-default" style="font-size: 20px; margin-bottom: 20px; height: 48px; width: 110px; background-color: #4CAF50; color: white" />
                </div>
            </div>
        </div>
    }
    
   <div align="right" style="margin-bottom:50px;margin-top:10px;margin-right:50px;">
    <button class="cancel-btn" onclick="location.href='@Url.Action("Index", "Customers")'">Hủy</button>
</div>

