@model DienMayQT.Models.Customer

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="title" style="color:#4CAF50">Xóa khách hàng</h2>

<h3 style="color: #FF4500;text-align:center;">Bạn có muốn xóa khách hàng này không ?</h3>
<div>
    <hr />
    <dl class="dl-horizontal" align="center">
        <dt>Tên khách hàng</dt>
        <dd>@Html.DisplayFor(model => model.CustomerName)</dd>

        <dt>Số chứng minh nhân dân</dt>

        <dd>@Html.DisplayFor(model => model.CustomerCode)</dd>

        <dt>Số điện thoại</dt>

        <dd>@Html.DisplayFor(model => model.PhoneNumber)</dd>

        <dt>Địa chỉ </dt>

        <dd>@Html.DisplayFor(model => model.Address)</dd>

        <dt>Năm sinh</dt>

        <dd>@String.Format("{0:0,0}", Model.YearOfBirth)</dd>       
    </dl>

    <div align="center">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Xóa" class="btn btn-danger" style="font-size: 20px; margin-bottom: 20px; background-color: #f51212; color: white; margin-top: 12px; height: 48px; width: 110px;" />
                <button class="cancel-btn" onclick="location.href='@Url.Action("Index", "Customers")'" style="margin-left:250px;margin-bottom:50px;margin-top:50px;">Hủy</button>
            </div>
        }

    </div>
</div>
