@model IEnumerable<DienMayQT.Models.Customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="title" style="color:#4CAF50">Quản lý khách hàng </h2>

<p style="text-align:right;">
    <button class="create-btn" onclick="location.href='@Url.Action("Create", "Customers")'"><i class="fa fa-plus-circle" aria-hidden="true"></i>  Create</button>
</p>

<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-table"></i> Danh sách khách hàng
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Tên khách hàng</th>
                        <th>Số CMND</th>
                        <th>Số điện thoại</th>
                        <th>Địa chỉ</th>
                        <th>Năm sinh</th>
                        <th>Chức năng</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.CustomerCode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CustomerName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PhoneNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Address)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.YearOfBirth)
                            </td>
                            <td>
                                <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("Edit", new { id = item.ID })'"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                                <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("Delete", new { id = item.ID })'"><i class="fa fa-trash" aria-hidden="true"></i></button>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>

</div>
