@model IEnumerable<DienMayQT.Models.Product>
@{ 
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="~/Front-End/store.ico" rel="icon">
    <meta name="author" content="design by Storm">
    <meta name="keywords" content="Điện máy Quyết Tiến">
    <meta name="description" content="Công ty cổ phần TNHH Điện máy Quyết Tiến">
    <title>Demo - Điện máy Quyết Tiến Store</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700%7CLibre+Baskerville:400,700"
          rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Front-End/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Front-End/plugins/furniture-icon/style.css">
    <link rel="stylesheet" href="~/Front-End/plugins/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Front-End/plugins/owl-carousel/assets/owl.carousel.css">
    <link rel="stylesheet" href="~/Front-End/plugins/bootstrap-select/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="~/Front-End/plugins/jquery-bar-rating/dist/themes/fontawesome-stars.css">
    <link rel="stylesheet" href="~/Front-End/plugins/slick/slick/slick.css">
    <link rel="stylesheet" href="~/Front-End/plugins/jquery-ui/jquery-ui.min.css">
    <link rel="stylesheet" href="~/Front-End/plugins/lightGallery-master/dist/css/lightgallery.min.css">
    <link rel="stylesheet" href="~/Front-End/css/style.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="header--sidebar"></div>
    <!--  Header-->
    <header class="header" data-sticky="true">
        <div class="header__top">
            <div class="ps-container">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-6 col-xs-12 ">
                        <p>Cơ sở 3 Trường ĐH Văn Lang University  -  Hotline: 113</p><i class="furniture-market"></i>
                    </div>
                    <div class="col-lg-6 col-md-4 col-sm-6 col-xs-12 ">
                        <div class="header__actions"><a href="#">Đăng nhập || Đăng ký</a></div>
                    </div>
                </div>
            </div>
        </div>
        <nav class="navigation">
            <div class="ps-container">
                <a class="ps-logo" href="index"><img src="~/Front-End/images/logo.png" alt="Điện máy Quyết Tiến"></a>
                <ul class="main-menu menu">
                    <li class="current-menu-item menu-item-has-children"><a href="index.html">Trang chủ</a></li>
                    <li><a href="Contact">Liên hệ chúng tôi</a></li>
                    <li class="menu-item-has-children"><a href="#">Blog</a></li>
                </ul>
                <div class="menu-toggle"><span></span></div>

                <form class="ps-form--search" action="#" method="post">
                    <i class="furniture-search"></i>
                    <input class="form-control" type="text" placeholder="Tìm kiếm sản phẩm">
                    <button>Tìm</button>
                </form>
            </div>
        </nav>
    </header>
                    @using (Html.BeginForm("index","slideAds",FormMethod.Post,new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.Action("Index", "slideAds")
                    }
    <div class="ps-section ps-home-categories">
        <div class="ps-container">
            <div class="ps-section__header text-center">
                <p>Chào mừng bạn đến với Cửa hàng Điện máy Quyết Tiến Online</p>
                <h3 class="ps-section__title">Danh mục sản phẩm</h3><span class="ps-section__line"></span>
            </div>
            <div class="ps-section__content ps-col-tiny">
                <div class="row">
                    
                        @Html.Action("Index", "ProductTypes")
                    
                </div>
            </div>
            <div class="ps-section__footer text-center"><a class="ps-btn" href="#">Xem tất cả danh mục</a></div>
        </div>
    </div>
    <div class="ps-section ps-home-best-product">
        <div class="ps-container">
            <div class="ps-section__header text-center">
                <p>Chọn sản phẩm bạn muốn</p>
                <h3 class="ps-section__title">Sản phẩm tốt nhất của chúng tôi</h3><span class="ps-section__line"></span>
            </div>
            <div class="ps-section__content mt-100">
                <div class="row">
                    @foreach(var i in Model) { 
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 ">
                        <div class="ps-product">
                            <div class="ps-product__thumbnail">
                                <div class="ps-badge"><span>New</span></div>
                                <div class="ps-badge ps-badge--sale"><span>-35%</span></div><a class="ps-product__favorite" href="#"><i class="furniture-heart"></i></a><img src="~/Images/@i.Avatar" height="200px" alt=""><a class="ps-product__overlay" href="#"></a>
                                <div class="ps-product__content full">
                                    <select class="ps-rating">
                                        <option value="1">1</option>
                                        <option value="1">2</option>
                                        <option value="1">3</option>
                                        <option value="1">4</option>
                                        <option value="2">5</option>
                                    </select><a class="ps-product__title" href="#">@i.ProductName</a>
                                    <div class="ps-product__categories"><a href="#">@i.ProductType.ProductTypeName</a></div>
                                    <p class="ps-product__price">
                                        <del>@String.Format("{0:0,0} VNĐ", i.OriginPrice)</del>@String.Format("{0:0,0} VNĐ", i.SalePrice)
                                    </p><a class="ps-btn ps-btn--sm" href="#">Thêm vào giỏ hàng</a>
                                    <p class="ps-product__feature"><i class="furniture-delivery-truck-2"></i>Giao hàng miễn phí trong vòng 24h</p>
                                </div>
                            </div>
                            <div class="ps-product__content">
                                <select class="ps-rating">
                                    <option value="1">1</option>
                                    <option value="1">2</option>
                                    <option value="1">3</option>
                                    <option value="1">4</option>
                                    <option value="2">5</option>
                                </select><a class="ps-product__title" href="#">@i.ProductName</a>
                                <div class="ps-product__categories"><a href="#">@i.ProductType.ProductTypeName</a></div>
                                <p class="ps-product__price">
                                    <del>@String.Format("{0:0,0} VNĐ", i.OriginPrice)</del>@String.Format("{0:0,0} VNĐ", i.SalePrice)
                                </p>
                            </div>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="ps-home-open-time bg--parallax" data-background="/Front-End/images/background/home-feature.jpg">
        <div class="container">
            <div class="ps-section__content">
                <h3>Hãy đến cửa hàng của chúng tôi</h3>
                <p>45 Nguyễn Khắc Nhu, Quận 1, Tp.HCM<br>Hotline: 113</p><a class="ps-btn" href="Contact">View google map</a>
                <div class="ps-open-time">
                    <h4>Thời gian hoạt động</h4>
                    <p>Thứ 2 đến Thứ 6: 08:00 AM đến 22:00 PM</p>
                    <p>Thứ 7 đến Chủ Nhật: 07:00 AM đến 21:00 PM</p>
                </div>
            </div>
        </div>
    </div>
    <div class="ps-home-features-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 ">
                    <div class="ps-block--icon">
                        <i class="furniture-delivery-truck-1"></i>
                        <h4>Giao hàng miễn phí <span> Cho hóa đơn trị giá trên 5 triệu đồng</span></h4>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 ">
                    <div class="ps-block--icon">
                        <i class="furniture-sofa"></i>
                        <h4>Tất cả nội thất trong nhà</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 ">
                    <div class="ps-block--icon">
                        <i class="furniture-credit-card-1"></i>
                        <h4>Thanh toán an toàn<span> Bảo vệ thông tin cá nhân</span></h4>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 ">
                    <div class="ps-block--icon">
                        <i class="furniture-hours"></i>
                        <h4>Hỗ trợ 24/7 <span> Luôn luôn lắng nghe khách hàng</span></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="ps-footer site-footer">
        <div class="ps-footer__content">
            <div class="ps-container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                        <div class="ps-site-info site-info">
                            <a class="ps-logo" href="index"><img src="~/Front-End/images/logo.png" alt=""></a>
                            <p><strong>Siêu thị Điện máy Quyết Tiến</strong> khai trương siêu thị đầu tiên tại <em>45 Nguyễn Khắc Nhu, Quận 1, Tp.HCM</em>. Cam kết <strong>bán hàng chính hãng</strong>. Hàng hoá tại Siêu thị <strong>Điện máy Quyết Tiến</strong> vô cùng đa dạng, từ các nhóm hàng lớn như Tivi, Tủ Lạnh, Máy Giặt, Máy Lạnh… đến các nhóm hàng Gia dụng như: Nồi Cơm Điện, Bếp Ga, Bếp Điện Từ… Điện máy Quyết Tiến cũng kinh doanh các mặt hàng như: Điện Thoại, Máy Tính Bảng, Laptop, Phụ Kiện…</p>
                            <div class="ps-site-info__contact">
                                <h4>Thông tin liên hệ</h4>
                                <p>Khoa CNTT của <strong>Trường Đại Học Văn Lang</strong> để biết thêm chi tiết bạn nhé</p>
                            </div>
                            <ul class="ps-social">
                                <li><a href="https://www.facebook.com/khoacntt.vanlang"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
                                <div class="widget widget_footer widget_worktime">
                                    <h2 class="widget-title">Thời gian làm việc<span></span></h2>
                                    <p>Thứ 2 - Thứ 6 <br> 08:00 am - 10:00 pm</p><p> ==== </p>
                                    <p>Thứ 7 - Chủ Nhật <br> 7:00 am - 9:00 pm</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ps-footer__copyright">
            <div class="ps-container">
                <div class="row">
                    <div class="col-lg-8 col-md-7 col-sm-12 col-xs-12 ">
                        <p><a href="http://www.vanlanguni.edu.vn/">Trường Đại Học Văn Lang University</a></p>
                    </div>
                    <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12 ">
                        <div class="ps-footer__payment-methods">
                            <a href="#"><img src="~/Front-End/images/payment-method/paypal.png" alt=""></a>
                            <a href="#"><img src="~/Front-End/images/payment-method/visa.png" alt=""></a>
                            <a href="#"><img src="~/Front-End/images/payment-method/master-card.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="ps-loading">
        <div class="loader ">
            <div class="loader__item"></div>
            <div class="loader__item"></div>
            <div class="loader__item"></div>
            <div class="loader__item"></div>
            <div class="loader__item"></div>
        </div>
    </div>
    <script src="~/Front-End/plugins/jquery.min.js"></script>
    <script src="~/Front-End/plugins/lightGallery-master/dist/js/lightgallery-all.min.js"></script>
    <script src="~/Front-End/plugins/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/Front-End/plugins/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/Front-End/plugins/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="~/Front-End/plugins/jquery-bar-rating/dist/jquery.barrating.min.js"></script>
    <script src="~/Front-End/plugins/imagesloaded.pkgd.js"></script>
    <script src="~/Front-End/plugins/masonry.pkgd.min.js"></script>
    <script src="~/Front-End/plugins/isotope.pkgd.min.js"></script>
    <script src="~/Front-End/plugins/slick/slick/slick.min.js"></script>
    <script src="~/Front-End/plugins/jquery.matchHeight-min.js"></script>
    <script src="~/Front-End/plugins/elevatezoom/jquery.elevatezoom.js"></script>
    <script src="~/Front-End/plugins/gmap3.min.js"></script>
    <script src="~/Front-End/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Custom scripts-->
    <script src="~/Front-End/js/main.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBOAVbTzBLcOkZOXAIBNs-8EDzqXZoOVa0&amp;region=GB"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>